<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbbook.shop.modules.codeGroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.kbbook.shop.modules.codeGroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(select 
				count(b.CSeq)
			FROM CG b
			WHERE 1=1
				and CCG_CGSeq = a.CGseq
			) as CCount
		FROM CCG a
		WHERE 1=1
			<!-- AND CGDelNy = 0 -->
			<!-- AND CGNameKor LIKE CONCAT('%', #{searchValue}, '%') -->
			<if test="searchDelNy != null and !searchDelNy.equals('')">AND CGDelNy = #{searchDelNy}</if>
			<!-- <if test="searchDos != null and !searchDos.equals('')">AND CGRegistration <= #{SearchDos}</if>
			<if test="searchDoe != null and !searchDoe.equals('')">AND CGRegistration >= #{SearchDoe}</if>
			<if test="searchDos != null and !searchDos.equals('') and searchDoe != null and !searchDoe.equals('')">AND CGRegistration between #{SearchDor} and #{SearchDoe}</if>-->
			<!-- <choose>
				<when test="searchDor == 0">
					<if test="searchDos != null and !searchDos.equals('') and searchDoe != null and !searchDoe.equals('')">AND CGRegistration between #{searchDos} and #{searchDoe}</if>
				</when>
				<when test="searchDor == 1">
					<if test="searchDos != null and !searchDos.equals('') and searchDoe != null and !searchDoe.equals('')">AND CGCorrectation between #{searchDos} and #{searchDoe}</if>
				</when>
				<otherwise></otherwise>
			</choose> -->
			<choose>
				<when test="searchOption == 1">AND CGSeq = #{searchValue}</when>
				<when test="searchOption == 2">AND CGNameKor LIKE CONCAT('%',#{searchValue},'%')</when>
				<when test="searchOption == 3">AND CGNameEng LIKE CONCAT('%',#{searchValue},'%')</when>
				<otherwise></otherwise>
			</choose>
			<!-- <choose>
				<when test="searchDelNy == 0">AND CGDelNy = 0</when>
				<when test="searchDelNy == 1">AND CGDelNy = 1</when>
				<otherwise></otherwise>
			</choose> -->
			<!-- <choose>
				<when test="searchDelNy == 0">AND CGDelNy = 0</when>
				<when test="searchDelNy == 1">AND CGDelNy = 1</when>
				<when test="searchOption == 1">AND CGSeq = #{searchValue}</when>
				<when test="searchOption == 2">AND CGNameKor LIKE CONCAT('%',#{searchValue},'%')</when>
				<when test="searchOption == 3">AND CGNameEng LIKE CONCAT('%',#{searchValue},'%')</when>
				<otherwise></otherwise>
			</choose> -->
			<!-- <choose>
				<when test="searchDelNy == 0">
					<choose>
						<when test="searchOption == 1">
							AND CGDelNy = #{searchDelNy}
							AND CGSeq = #{searchValue}
						</when>
						<when test="searchOption == 2">
							AND CGDelNy = #{searchDelNy}
							AND CGNameKor LIKE CONCAT('%',#{searchValue},'%')
						</when>
						<when test="searchOption == 3">
							AND CGDelNy = #{searchDelNy}
							AND CGNameEng LIKE CONCAT('%',#{searchValue},'%')
						</when>
						<otherwise>
							AND CGDelNy = #{searchDelNy}
						</otherwise>
					</choose>
				</when>
				<when test="searchDelNy == 1">
					<choose>
						<when test="searchOption == 1">
							AND CGDelNy = #{searchDelNy}
							AND CGSeq = #{searchValue}
						</when>
						<when test="searchOption == 2">
							AND CGDelNy = #{searchDelNy}
							AND CGNameKor LIKE CONCAT('%',#{searchValue},'%')
						</when>
						<when test="searchOption == 3">
							AND CGDelNy = #{searchDelNy}
							AND CGNameEng LIKE CONCAT('%',#{searchValue},'%')
						</when>
						<otherwise>
							AND CGDelNy = #{searchDelNy}
						</otherwise>
						
					</choose>
				</when>
				<otherwise></otherwise>
			</choose> -->
	</select>
	<insert id ="insert">
		INSERT INTO CCG (
			CGNameKor
			,CGNameEng
			,CGUseNy
			,CGOrder
			,CGDelNy
			,CGRegistration
		)
		VALUES (
			#{CGNameKor}
			,#{CGNameEng}
			,#{CGUseNy}
			,#{CGOrder}
			,0
			,#{CGRegistration}
		)
		<selectKey resultType="String" keyProperty="CGSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<select id="selectSeq" resultMap="resultMapObj">
		SELECT
			a.*
		FROM CCG a
		WHERE 1=1
			AND	CGSeq = #{CGSeq}
	</select>
	
	<update id="update">
		UPDATE CCG
		SET
			CGSeq = #{CGSeq}
			,CGNameKor = #{CGNameKor}
			,CGNameEng = #{CGNameEng}
			,CGUseNy = #{CGUseNy}
			,CGOrder = #{CGOrder}
			,CGDelNy = #{CGDelNy}
			,CGRegistration = #{CGRegistration}
		WHERE 1=1
			AND	CGSeq = #{CGSeq}
	</update>
	
	<update id = "uelete">
		UPDATE CCG
		SET
			CGDelNy = 1
		WHERE 1=1
			AND	CGSeq = #{CGSeq}
	</update>

	<delete id = "delete">
		DELETE FROM CCG WHERE WHERE 1=1 AND	CGSeq = #{CGSeq}
	</delete>
	
	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			a.CGSeq
			,a.CGNameKor
		FROM CCG a
		WHERE 1=1
			AND CGDelNy = 0
			AND CGUseNy = 1
		ORDER NY a.CGSeq DESC
	</select>

</mapper>	