<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbbook.shop.modules.codeGroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.kbbook.shop.modules.codeGroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(select 
				count(b.CSeq)
			FROM CG b
			WHERE 1=1
				and CCG_CGSeq = a.CGseq
			) as CCount
		FROM CCG a
		WHERE 1=1
			AND CGDelNy = 0
			AND CGNameKor LIKE CONCAT('%', #{searchValue}, '%')
	</select>

</mapper>	