<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbbook.shop.modules.book.BookMapper">

    <resultMap id="resultMapObj" type="com.kbbook.shop.modules.book.Book"></resultMap>

	<select id="selectWriter" resultMap="resultMapObj">
		SELECT
			a.book_bookSeq
			a.writer_writerSeq
		FROM book_writer a
		JOIN book b on a.book_bookSeq = b.bookSeq
		WHERE 1=1
			AND bookSeq = #{bookSeq}
	
	</select>

	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			DISTINCT
			a.*
			, cost*(1-sale) as price
			,(SELECT
			case
			when count(c.name) = 1 then c.name
			when count(c.name) > 1 then concat(min(c.name) , ' 외 ' , cast(COUNT(name) as char)-1 , ' 명' )
			end
			FROM writer c
	        JOIN book_writer b on b.writer_writerSeq = c.writerSeq
	        where 1=1
				and  b.book_bookSeq = a.bookSeq 
	            ) as writer
			<include refid="selectCommon" />
			ORDER BY a.bookSeq DESC
			<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<sql id ="selectCommon">
	FROM book a
	JOIN book_writer b on b.book_bookSeq = a.bookSeq 
	WHERE 1=1
		<if test="searchDelNy != null and !searchDelNy.equals('')">AND delNy = #{searchDelNy}</if>
		<choose>
			<when test="searchOption == 1">AND bookSeq = #{searchValue}</when>
			<when test="searchOption == 2">AND name LIKE CONCAT('%',#{searchValue},'%')</when>
			<when test="searchOption == 3">AND publisher LIKE CONCAT('%',#{searchValue},'%')</when>
			<when test="searchOption == 4">AND cost = #{searchValue}</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectSeq" resultMap="resultMapObj">
		SELECT
			a.*
		FROM book a
		WHERE 1=1
			AND	bookSeq = #{bookSeq}
	</select>	
	
	<insert id="insert">
		INSERT INTO book(
			sign
			,name
			,subName
			,publisher
			,dop
			,dor
			,cost
			,sale
			,accmulate
			,isbn
			,page
			,size
			,topic
			,introduce
			,image
			,list
			,content
			,rop
			,stock
			,amount
			,delNy
		)
		VALUES(
			#{sign}
			,#{name}
			,#{subName}
			,#{publisher}
			,#{dop}
			,#{dor}
			,#{cost}
			,#{sale}
			,#{accmulate}
			,#{isbn}
			,#{page}
			,#{size}
			,#{topic}
			,#{introduce}
			,#{image}
			,#{list}
			,#{content}
			,#{rop}
			,#{stock}
			,0
			,0
		)
		<selectKey resultType="String" keyProperty="bookSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE book
		SET
			sign = #{sign}
			,name = #{name}
			,subName = #{subName}
			,publisher = #{publisher}
			,dop = #{dop}
			,dor = #{dor}
			,cost = #{cost}
			,sale = #{sale}
			,accmulate = #{accmulate}
			,isbn = #{isbn}
			,page = #{page}
			,size = #{size}
			,topic = #{topic}
			,introduce = #{introduce}
			,image = #{image}
			,list = #{list}
			,content = #{content}
			,rop = #{rop}
			,stock = #{stock}
			,amount = #{amount}
		WHERE 1=1
			AND	bookSeq = #{bookSeq}
	</update>
	
	<update id = "uelete">
		UPDATE book
		SET
			delNy = 1
		WHERE 1=1
			AND	bookSeq = #{bookSeq}
	</update>
	
	<delete id = "delete">
		DELETE 
		FROM book 
		WHERE 1=1 
			AND	bookSeq = #{bookSeq}
	</delete>
	
	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			a.name
		FROM book a
		WHERE 1=1
			AND delNy = 0
		ORDER NY a.bookSeq DESC
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(DISTINCT bookSeq)
		<include refid="selectCommon" />
	</select>

</mapper>	