<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbbook.shop.modules.main.MainMapper">

    <resultMap id="resultMapObj" type="com.kbbook.shop.modules.main.Main"></resultMap>
    
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			memberSeq
			,id
		FROM
			member a
		WHERE 1=1
			AND dminDiv = 0
			AND id = #{id}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			memberSeq
			,id
			,name
		FROM
			member a
		WHERE 1=1
			AND dminDiv = 0
			AND id = #{id}
			AND a.password = #{password}
	</select>

	<select id="selectList" resultMap="resultMapObj">
	SELECT
		a.*
	FROM book a
	WHERE 1=1
	
	</select>
	
	<select id="mainList" resultMap="resultMapObj">
	select
		bookSeq
	    ,sign
	    ,topic
	    ,left(introduce , 50) as shortIntro
		,seq
		,type
		,defaultNy
		,sort
		,path
		,originalName
		,uuidName
	from book a
	join bookUploaded b on a.bookSeq = b.pSeq
	    where 1=1
	    and type = 1
	    order by type, sort, amount desc
	    limit 2
	
	
	</select>
	
	<select id="bestList" resultMap="resultMapObj">
	
	select
		bookSeq
		,sign
	    ,name
	    ,cost*(1-sale) as price
	    ,cost
	    ,seq
		,type
		,defaultNy
		,sort
		,path
		,originalName
		,uuidName
	from book a
	join bookUploaded b on a.bookSeq = b.pSeq
		where 1=1
		and type = 1
		ORDER BY type, sort, amount desc
	    limit 4
	
	</select>
	
	<select id="newList" resultMap="resultMapObj">
	
	select
		bookSeq
		,sign
	    ,name
	    ,cost*(1-sale) as price
	    ,cost
	    ,seq
		,type
		,defaultNy
		,sort
		,path
		,originalName
		,uuidName
	from book a
	join bookUploaded b on a.bookSeq = b.pSeq
		where 1=1
		and type = 1
		ORDER BY type, sort, dor desc
	    limit 4
	
	</select>

</mapper>	