<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbbook.shop.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.kbbook.shop.modules.code.Code"></resultMap>
	
	<!-- <select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,b.CGNameKor as CGName
		FROM CG a
		JOIN CCG b on a.CCG_CGSeq = b.CGSeq
		WHERE 1=1
			<if test="searchDelNy != null and !searchDelNy.equals('')">AND CDelNy = #{searchDelNy}</if>
			<choose>
				<when test="searchOption == 1">AND CCG_CGSeq = #{searchValue}</when>
				<when test="searchOption == 2">AND b.CGNameKor LIKE CONCAT('%',#{searchValue},'%')</when>
				<when test="searchOption == 3">AND CSeq = #{searchValue}</when>
				<when test="searchOption == 4">AND CNameKor LIKE CONCAT('%',#{searchValue},'%')</when>
				<when test="searchOption == 5">AND CNameEng LIKE CONCAT('%',#{searchValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</select> -->
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			a.*
			,b.CGNameKor as CGName
			<include refid="selectCommon" />
			ORDER BY a.CSeq DESC
			<include refid="Base.selectListLowerForMysql" />
	</select>
	<select id="selectGroup" resultMap="resultMapObj">
		SELECT
			a.*
		FROM CCG a
			WHERE 1=1
	</select>
	<select id="selectSeq" resultMap="resultMapObj">
		SELECT
			a.*
		FROM CG a
		WHERE 1=1
			AND	CSeq = #{CSeq}
	</select>	
	<insert id="insert">
		INSERT INTO CG(
			CCG_CGSeq
			,CNameKor
			,CNameEng
			,CUseNy
			,CDelNy
			,COrder
			,CRegistration
		)
		VALUES(
			#{CCG_CGSeq}
			,#{CNameKor}
			,#{CNameEng}
			,#{CUseNy}
			,0
			,#{COrder}
			,#{CRegistration}
		)
		<selectKey resultType="String" keyProperty="CSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE CG
		SET
			CNameKor = #{CNameKor}
			,CNameEng = #{CNameEng}
			,CUseNy = #{CUseNy}
			,COrder = #{COrder}
			,CDelNy = #{CDelNy}
			,CRegistration = #{CRegistration}
		WHERE 1=1
			AND	CSeq = #{CSeq}
	</update>
	
	<update id = "uelete">
		UPDATE CG
		SET
			CDelNy = 1
		WHERE 1=1
			AND	CSeq = #{CSeq}
	</update>

	<delete id = "delete">
		DELETE 
		FROM CG 
		WHERE 1=1 
			AND	CSeq = #{CSeq}
	</delete>
	
	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			a.CSeq
			,a.CNameKor
		FROM CG a
		WHERE 1=1
			AND CDelNy = 0
			AND CUseNy = 1
		ORDER NY a.CSeq DESC
	</select>
	
	<sql id ="selectCommon">
	FROM CG a
	JOIN CCG b on a.CCG_CGSeq = b.CGSeq
	WHERE 1=1
		<if test="searchDelNy != null and !searchDelNy.equals('')">AND CDelNy = #{searchDelNy}</if>
		<choose>
			<when test="searchOption == 1">AND CCG_CGSeq = #{searchValue}</when>
			<when test="searchOption == 2">AND b.CGNameKor LIKE CONCAT('%',#{searchValue},'%')</when>
			<when test="searchOption == 3">AND CSeq = #{searchValue}</when>
			<when test="searchOption == 4">AND CNameKor LIKE CONCAT('%',#{searchValue},'%')</when>
			<when test="searchOption == 5">AND CNameEng LIKE CONCAT('%',#{searchValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	</sql>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>

</mapper>