<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbbook.shop.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.kbbook.shop.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,b.CGNameKor as CGName
		FROM CG a
		JOIN CCG b on a.CCG_CGSeq = b.CGSeq
		WHERE 1=1
			<!-- AND a.CDelNy = 0 -->
			<if test="searchDelNy != null and !searchDelNy.equals('')">AND CDelNy = #{searchDelNy}</if>
			<choose>
				<when test="searchOption == 1">AND CCG_CGSeq = #{searchValue}</when>
				<when test="searchOption == 2">AND b.CGNameKor LIKE CONCAT('%',#{searchValue},'%')</when>
				<when test="searchOption == 3">AND CSeq = #{searchValue}</when>
				<when test="searchOption == 4">AND CNameKor LIKE CONCAT('%',#{searchValue},'%')</when>
				<when test="searchOption == 5">AND CNameEng LIKE CONCAT('%',#{searchValue},'%')</when>
				<otherwise></otherwise>
			</choose>
			<!-- <choose>
				<when test="searchDelNy == 0">
					<choose>
						<when test="searchOption == 1">
							AND CDelNy = #{searchDelNy}
							AND CSeq = #{searchValue}
						</when>
						<when test="searchOption == 2">
							AND CDelNy = #{searchDelNy}
							AND CNameKor LIKE CONCAT('%',#{searchValue},'%')
						</when>
						<when test="searchOption == 3">
							AND CDelNy = #{searchDelNy}
							AND CNameEng LIKE CONCAT('%',#{searchValue},'%')
						</when>
						<otherwise>
							AND CDelNy = #{searchDelNy}
						</otherwise>
					</choose>
				</when>
				<when test="searchDelNy == 1">
					<choose>
						<when test="searchOption == 1">
							AND CDelNy = #{searchDelNy}
							AND CSeq = #{searchValue}
						</when>
						<when test="searchOption == 2">
							AND CDelNy = #{searchDelNy}
							AND CNameKor LIKE CONCAT('%',#{searchValue},'%')
						</when>
						<when test="searchOption == 3">
							AND CDelNy = #{searchDelNy}
							AND CNameEng LIKE CONCAT('%',#{searchValue},'%')
						</when>
						<otherwise>
							AND CDelNy = #{searchDelNy}
						</otherwise>
						
					</choose>
				</when>
				<otherwise></otherwise>
			</choose> -->
	</select>
	<insert id="insert">
		INSERT INTO CG(
			CCG_CGSeq
			,CNameKor
			,CNameEng
			,CUseNy
			,CDelNy
			,COrder
			,CRegistration
		)
		VALUES(
			#{CCG_CGSeq}
			,#{CNameKor}
			,#{CNameEng}
			,#{CUseNy}
			,#{CDelNy}
			,#{COrder}
			,#{CRegistration}
		)
		<selectKey resultType="String" keyProperty="CSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="viewList" resultMap="resultMapObj">
		SELECT
		a.*
			,b.CGNameKor as CGName
		FROM CG a
		JOIN CCG b on a.CCG_CGSeq = b.CGSeq
		WHERE 1=1
		GROUP BY CCG_CGSeq
	</select>

</mapper>